<header>
  <app-header></app-header>
</header>
<footer>
  <app-footer></app-footer>
</footer>
<div class="row">
  <div class="col s12">
      <h1>Add New Contact</h1>
  </div>
</div>
<img src="https://cdn4.iconfinder.com/data/icons/business-finance-vol-12-2/512/9-512.png">
<div class="row">
  <form class="col s12" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="input-field col s12">
              <input formControlName="id" id="contactId" type="text" class="validate">
              <label for="contactId">ID</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input formControlName="name" id="name" type="text" class="validate">
              <label for="name">Name</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input formControlName="cellphone" id="cellphone" type="text" class="validate">
              <label for="cellphone">Cellphone</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input formControlName="email" id="email" type="text" class="validate">
              <label for="email">Email</label>
          </div>
      </div>
      <div class="row">
          <div class="col s12">
            <button data-target="myModal" class="btn modal-trigger black">Add</button>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Deleting Contact...</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure?</p>
                  </div>
                  <div class="modal-footer">
                    <button (click)="onSubmit()" [routerLink]= "['']" type="button" class="btn btn-default black" data-dismiss="modal">Agree</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </div>
  </form>
</div>
